$color-green: #5ce0bf;
$bg-color: #424242;

@layer base {

  @font-face {
    font-family: 'Varino';
    src: local('Varino'), url(~@/assets/fonts/varino.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Exo2';
    src: local('Exo2'), url(~@/assets/fonts/exo2-regular.ttf) format('truetype');
  }

  body {
    background-color: $bg-color;
    @apply mx-auto text-gray-100;
  }

  body * {
    @apply font-exo2;
    @apply subpixel-antialiased;
  }
  
  .varino {
    @apply font-varino;
  }
}

@layer components {
  
  .container-col-center {
    @apply flex flex-col items-center;
  }

  .container-paralax {
    @apply md:max-w-3xl;
    @apply relative mx-auto min-h-screen list-none;
    overflow: hidden;
  }

  .item-paralax {
    width: 100%;
    height: 100%;
  }

  .container-main {
    @apply container-col-center;
    @apply md:max-w-3xl;
    @apply relative mx-auto min-h-screen py-10 px-5 select-none;
    @media (max-height: 452px) {
      @apply py-3;
    }
  }

  .main-item {
    @apply flex-none mb-7;
    @media (max-height: 452px) {
      @apply mb-3;
    }
    &:last-child {
      @apply mb-0;
    }
  }

  .inline-flex-center {
    @apply inline-flex justify-center items-center text-center;
  }

  .background {
    @apply absolute bg-repeat;
    width: 150%;
    height: 150%;
    top: -20%;
    left: -20%;
    right: -20%;
    bottom: -20%;
    overflow: hidden;
    background-image: url('/img/tile_background.png');
    z-index: -1;
  }

  .control {
    @apply inline-flex-center;
    @apply border-2 rounded-md border-opacity-90;
    background-color: $bg-color;
    border-color: $bg-color;
    box-shadow: 4px 10px 10px 3px rgba(0, 0, 0, 0.3);
  }

  .warning {
    @apply bg-pink-700 border-pink-700;
  }

  .message {
    @apply p-4 rounded-md text-lg font-bold;
  }

  .cursor-pointer {
    cursor: pointer;
    * {
      cursor: pointer;
    }
  }

  .button {
    @apply control;
    @apply cursor-pointer;
    border-color: $color-green;
    background-color: $bg-color;
    color: $color-green;
    &:disabled {
      background-color: $bg-color;
      filter: grayscale(80%);
    }
    &:active {
      background-color: lighten($bg-color, 10%);
      border-color: lighten($color-green, 10%);
    }
    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  .word-container {
    @apply inline-flex-center;
    @apply w-auto;
    height: 100px;
  }

  .lock {
    @apply button;
    @apply p-1 h-full w-full;
    svg {
      width: 80px;
      height: 80px;
    }
    svg * {
      @apply h-full w-full;
      fill: $color-green;
    }
  }

  .timer {
    @apply main-item control text-6xl pt-2 font-varino;
  }

  .menu {
    @apply button;
    @apply rounded-full overflow-hidden absolute top-4 right-4 h-14 w-14 font-bold text-5xl;
    fill: $color-green;
  }

  .word {
    @apply control;
    @apply cursor-pointer;
    @apply font-bold text-3xl p-3;
  }

  .btn-primer {
    @apply button;
    @apply p-2 px-5 focus:outline-none rounded-xl text-2xl font-bold uppercase;
  }

  .words-list {
    @apply container-col-center;
    @apply control;
    @apply list-none my-3 p-2;
    li {
      @apply font-bold text-xl;
    }
  }

  .input-container {
    @apply flex flex-col items-center mx-4 mb-3;
    label {
      color: $color-green;
      @apply font-bold text-xl text-center;
    }
    input {
      @apply control;
      border-color: $color-green;
      @apply p-2 px-5 text-2xl font-bold outline-none;
      // outline: none;
    }
    input:active,
    input:focus {
      transition: border-width 0.22s;
      // border-color: $color-green;
      @apply border-4;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

}
